body {
  margin: 0;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

@font-face {
  font-family: 'Raleway';
  src: url('./font/Raleway-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}