body {
  margin: 0;
  font-family: 'raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'raleway';
  src: url('./font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
       url('./font/raleway-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}